<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>The Gossip Page</h1>
    <p>Here's the page of the n°<%= params['id'] %> gossip</p>

    <p>The author : <%= gossip.author %></p>
    <p>The gossip's content: <%= gossip.content %></p>
    <br>
    <a href="/">Link to go back to the list of gossips</a>
  </body>
</html>